<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %> <span><%= link_to 'delete', user_todo_path, method: :delete, data: {confirm: "Are you sure?"} %></span>
</p>

<p>
  <strong>Start time:</strong>
  <%= @todo.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @todo.end_time %>
</p>

<%= link_to 'Edit', edit_user_todo_path(@user, @todo) %> |
<%= link_to 'Back', root_path %>
